/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

:root {
  --color-white: #fff;
  --color-white-opacity: #d7ccc0;
  --color-light: #f5f4f0;
  --color-main: #fe8a02;
  --color-active-btn: #ea7600;
  --color-main-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-opacity: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Neucha;
  line-height: 1.2;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.section {
  width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.orange {
  color: var(--color-main);
}

.color-light {
  background-color: var(--color-light);
}

.header {
  position: relative;
}

.header::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header__section {
  position: relative;
}

.header-title__image {
  position: absolute;
  top: 45px;
  right: -290px;
  z-index: 3;

  height: 525px;
}

.header-title__title {
  margin-bottom: 185px;
}

.header__text {
  display: flex;
  gap: 30px;
}

.header__text p {
  width: 540px;
}

.btn {
  display: inline-block;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--color-active-btn);
}

.media-content {
  text-align: center;
}

.media-content__title {
  margin-bottom: 30px;
}

.media-content__text {
  margin-bottom: 30px;
}

.text {
  color: var(--color-dark);
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.6;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

